<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- added for notifs -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />




    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/florpal"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MCO2_FlorPal"
        android:requestLegacyExternalStorage="true"
        android:largeHeap="true">


        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MCO2_FlorPal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- added in nov 3 version -->
        <activity
            android:name=".ViewPlantListActivity"
            android:theme="@style/Theme.MCO2_FlorPal"
            />
        <!-- added in nov 6 version -->
        <activity
            android:name=".ViewPlantDetailsActivity"
            android:theme="@style/Theme.MCO2_FlorPal"
            />

        <activity
            android:name=".AddPlantActivity"
            android:theme="@style/Theme.MCO2_FlorPal"
            />

        <activity
            android:name=".CameraActivity"
            android:theme="@style/Theme.MCO2_FlorPal"
            />

        <activity
            android:name=".EditPlantActivity"
            android:theme="@style/Theme.MCO2_FlorPal"
            />
        <activity
            android:name=".FilterPlantActivity"
            android:theme="@style/Theme.MCO2_FlorPal"
            />
        <receiver
            android:name=".FlorPalAlarmReceiver"
            android:exported="false" />

    </application>
</manifest>